<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.mindpro.ipms.domain.patentApp.appCommon.repository.db1.AppCommonMapper">

    <!--  출원키 중복 체크하는 쿼리  -->
    <select id="checkDuplicateSeq" resultType="int">
        SELECT
            COUNT(*)
        FROM utb_app_mst
        WHERE office_seq = #{officeSeq}
          AND app_seq = #{appSeq}
          AND del_yn = 'N'
    </select>

    <delete id="hardDeleteAppCommon">
        DELETE FROM utb_app_mst
        WHERE office_seq = #{officeSeq}
        AND app_seq = #{appSeq}
    </delete>

    <update id="softDeleteAppCommon">
        UPDATE utb_app_mst
        SET del_yn = 'Y'
            , update_user = #{userSeq}
            , update_at = CURRENT_TIMESTAMP
        WHERE office_seq = #{officeSeq}
        AND app_seq = #{appSeq}
        AND del_yn = 'N'
    </update>

    <insert id="insertAppHistory" parameterType="kr.co.mindpro.ipms.domain.patentApp.appCommon.vo.CommonAppVO">
        <selectKey keyProperty="appHistorySeq" resultType="string" order="BEFORE">
            SELECT fn_get_dynamic_seq('utb_app_mst_history') AS appHistorySeq
        </selectKey>
        INSERT INTO utb_app_mst_history (
        app_history_seq,
        app_seq,
        retain_seq,
        app_state,
        state,
        country_code,
        right_category,
        product_class,
        app_name_ko,
        app_name_en,
        outsourcing_corp_name,
        outsourcing_yn,
        give_up_content,
        app_category,
        app_name,
        grade,
        independent_claim,
        dependent_claim,
        drawing_paper_count,
        ulti_dependent_claim_count,
        app_no,
        original_app_no,
        original_reg_no,
        double_app_no,
        global_app_no,
        global_reg_no,
        reg_no,
        open_no,
        product_class_app_no,
        re_app_no,
        public_no,
        reg_public_no,
        madrid_no,
        ipc_category_code,
        external_app_approach,
        year_cnt_management_yn,
        external_app_yn,
        trademark_research_yn,
        renewal_management_yn,
        interior_preference_assert_yn,
        mandate_paper_submit_yn,
        create_user,
        create_at,
        update_user,
        update_at,
        del_yn,
        note,
        app_classification,
        app_kind,
        app_language,
        proposal_name,
        first_app_no,
        foreign_app_timing,
        access_code,
        annuity_year,
        annuity_reduc_rate,
        spec_page,
        figure_count,
        drawing_count,
        reg_reduction_rate,
        asset_no,
        agent_ref,
        dept_code,
        oversea_spec_page,
        trademark_renewal_fee,
        next_payment_installment,
        renewal_late_fee,
        etc_title,
        app_route,
        provisional_app_no,
        notice_exception_apply,
        parent_reg_app_no,
        main_drawing_file,
        domestic_reg_no,
        goods_app_no,
        complete_20_yn,
        app_20_country,
        complete_30_yn,
        app_30_country,
        kr_designation_yn,
        search_result,
        intl_pub_no,
        deemed_withdrawal_content,
        designated,
        registered_states,
        subsequent,
        div_app_no,
        ep_search_result,
        wipo_ref_no,
        public_yn,
        deferment_month_count,
        pub_no,
        authority_ref_no,
        payment_installment,
        right_snapshot,
        kipo_delay_days
        ) VALUES (
        #{appHistorySeq},
        #{appSeq},
        #{clientRef},
        #{statusCode},
        #{stateCode},
        #{countryCode},
        #{rightTypeCode},
        #{goodsClass},
        #{titleKo},
        #{titleEn},
        #{annuityAgency},
        #{outsourcingYn},
        #{abandonNote},
        #{appCategoryCode},
        #{appName},
        #{gradeCode},
        #{independentClaims},
        #{dependentClaims},
        #{drawingCount},
        #{finalClaimsCount},
        #{appNo},
        #{originalAppNo},
        #{originalRegNo},
        #{dualAppNo},
        #{globalAppNo},
        #{globalRegNo},
        #{regNo},
        #{pubNo},
        #{classificAppNo},
        #{reAppNo},
        #{announcementNo},
        #{regAnnounceNo},
        #{madridAppNo},
        #{ipcClassification},
        #{externalAppApproach},
        #{isAnnuityManaged},
        #{isForeignApp},
        #{isTrademarkResearch},
        #{isRenewalManaged},
        #{hasDomesticPriority},
        #{isPoaSubmitted},
        #{createUser},
        NOW(),
        #{updateUser},
        #{updateAt},
        COALESCE(#{delYn}, 'N'),
        #{note},
        #{categoryCode},
        #{appTypeCode},
        #{appLanguageCode},
        #{proposal},
        #{firstAppNo},
        #{foreignAppTimingCode},
        #{accessCode},
        #{annuityYear},
        #{annuityReducRateCode},
        #{specPage},
        #{figureCount},
        #{drawingCount},
        #{regReductionRateCode},
        #{ourRef},
        #{yourRef},
        #{deptName},
        #{overseaSpecPage},
        #{trademarkRenewalFee},
        #{nextPaymentInstallment},
        #{renewalLateFee},
        #{etcTitle},
        #{appRouteCode},
        #{provisionalAppNo},
        #{noticeExceptionApplyCode},
        #{parentRegAppNo},
        #{mainDrawingFile},
        #{domesticRegNo},
        #{goodsAppNo},
        #{complete20Yn},
        #{app20Country},
        #{complete30Yn},
        #{app30Country},
        #{krDesignationYn},
        #{searchResult},
        #{intlPubNo},
        #{deemedWithdrawalContent},
        #{designated},
        #{registeredStates},
        #{subsequent},
        #{divAppNo},
        #{epSearchResult},
        #{wipoRefNo},
        #{publicYn},
        #{defermentMonthCount},
        #{pubNo},
        #{authorityRefNo},
        #{paymentInstallment},
        CAST(#{rightSnapshot} AS JSONB),
        #{kipoDelayDays}
        )
    </insert>
</mapper>